modules = ["python-3.10:v18-20230807-322e88b"]
hidden = [".pythonlibs"]
run = "pip install -r requirements.txt && pip install Flask && python3 bot/main.py"
[nix]
channel = "stable-23_05"
[deployment]
run = ["sh", "-c", "pip install -r requirements.txt && pip install Flask && python3 bot/main.py"]
deploymentTarget = "cloudrun"
package.allowAutoUpdate = false
