[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-telegram-bot = "==20.0a6"
revchatgpt = "==0.0.31.5"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
