[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-telegram-bot = "==20.1"
openai = "==0.27.2"
tiktoken = "==0.3.2"
pydub = "==0.25.1"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
