[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-telegram-bot = "==20.0"
chatgpt-lite = "==0.0.4"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
